<h1>lesson</h1>

<form action="/lessons" method="post">
  <label for="lesson_name">Lesson name</label>
  <input id="lesson_name" name="lesson[name]" type="text" value="<%= @lesson.name %>">
  <label for="lesson_content">content</label>
  <input id="lesson_content" name="lesson[content]" type="text" value="<%= @lesson.content %>">

  <button>Update lesson</button>
</form>



